p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 48px;
}

.picture-card {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

li {
  display: inline-block;
}

li > a {
  display: inline-block;
  font-size: 40px;
  letter-spacing: 20px;
  color: black(11, 11, 12);
}

li > a:hover {
  color: black;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.profile-image-round {
  object-fit: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

@keyframes animated_div {
0% {
    transform: rotate(0deg);
    left: 0px;
}
25% {
    transform: rotate(20deg);
    left: 0px;
}
50% {
    transform: rotate(0deg);
    left: 500px;
}
55% {
    transform: rotate(0deg);
    left: 500px;
}
70% {
    transform: rotate(0deg);
    left: 500px;
    background: #080808;
}
100% {
    transform: rotate(-360deg);
    left: 0px;
}

}

#pointless-btn {
  background: black;
  border: 1px solid rgb(56, 12, 12);
  border-radius: 4px;
  color: black(5, 5, 5);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 1s;
}

#secret {
  color: rgb(3, 4, 39);
  transition: 1s;
}


#secret:hover {
  color: black;
}

#pointless-btn:hover {
  background: rgb(5, 5, 5)
}

#pointless-btn:focus {
  outline-color: rgb(8, 8, 8)
}

#btn-work {
  background-color: rgb(243, 241, 241);
  border: 1px solid rgb(41, 39, 39);
  border-radius: 4px;
  color: white(240, 231, 231);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-work:hover {
  background: rgb(77, 5, 5);
  color: rgb(240, 228, 228);
  transition: 0.2s;
}

#btn-fun {
  background-color: rgb(241, 238, 238);
  border: 1px solid rgb(119, 209, 17);
  border-radius: 4px;
  color: rgb(214, 28, 28);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-fun:hover {
  background: rgb(2, 2, 2);
  color: rgb(15, 15, 15);
  transition: 0.2s;
}

#work {
  background: rgba(39, 111, 191, 0.1);
}

#work:hover {
  background: rgb(8, 8, 8);
  color: rgba(9, 14, 10, 0.308);
  transition: 0.6s;
}

.fun-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#fun {
  background: rgba(247, 245, 243, 0.87);
}

#fun:hover {
  background: rgb(10, 10, 10);
  color: rgba(15, 3, 3, 0.199);
  transition: 0.6s;
}

.profile-image-round:hover {
  width: 210px;
  height: 210px;
  transition: 0.1s;
  animation: animated_div 5s 1;
}

.boxes {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background: white(241, 237, 237, 0.116);                         /* white background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(244, 247, 247, 0.973);
  margin-bottom: 10px;
  transition: 0.2s;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background: rgba(233, 226, 226, 0.938);
}
